*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-evenly;
    background: #008dff;
    height: 4rem;
}

.navbar .nav-elem a{
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    line-height: 4rem;
    color: white;
    padding: .2em;
    background: #0f69ff;
    border-radius: 10px;
}

.navbar .nav-elem a:hover{
    background: #0137ff;
}

.navbar .nav-elem{
    text-align: center;
    align-items: center;
}


/* Hotel cards */
.content-wrapper{
    align-items: center;
    padding: .5em;
}

.content-wrapper h1{
    text-align: center;
    padding: .5em;
}

.content-wrapper p{
    text-align: center;
    margin-bottom: 2em;
}

.hotels-wrapper,
.rooms-wrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1.5em;
    column-gap: 1em;
}

.hotel-card,
.room-card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.hotel-card img,
.room-card img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 500px;
}

.hotel-name{
    font-size: 1.5rem;
}

.hotel-card h3,
.room-card h3{
    padding: 5px;
    margin-left: 15px;
}

.rooms-filter{
    margin-top: 1.5em;
}

.rooms-filter h2{
    text-align: center;
}

.btn-wrap{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.reserve-btn{
    margin: .7em;
    cursor: pointer;
    padding: .5em;
    border: none;
    border-radius: 10px;
    color: white;
    background: #008121;
}

.reserve-btn:hover{
    background: #003b0c;
}

.remove-booking{
    margin: .7em;
    cursor: pointer;
    padding: .5em;
    border: none;
    border-radius: 10px;
    color: white;
    background: #ae0c00;
}

.remove-booking:hover{
    background: #5d0b00;
}

/* FOOTER */
.footer-items{
    display: flex;
    justify-content: space-evenly;
    height: 3rem;
    background: #0f69ff;
    list-style: none;
}

.footer-items li,
.footer-items li a{
    text-decoration: none;
    color: white;
    line-height: 3rem;
    font-size: 1.2rem;
}


/*rebooking*/
.change-title{
    text-align: center;
    margin: .9em;
}

.rebooking{
    max-width: 350px;
    margin: 0 auto;
}

.approve-change{
    width: 200px;
    text-align: center;
    margin: 0 auto;
}


.filter-wrap{
    display: flex;
    justify-content: space-evenly;
}

.filter-btn{
    cursor: pointer;
    font-size: 1rem;
    margin: 0 auto;
    padding: .3em;
    color: white;
    background: #ce8500;
    border: none;
    border-radius: 10px;
    width: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-btn:hover{
    background: #9c5d00;
}

.form-group label{
    padding-left: 5px;
    margin-left: 15px;
}

.form-group input{
    margin: 0 15px;
}