{% extends "start_base.html" %}
{% block content %}
    <main class="content-wrapper">
        <h1>My bookings</h1>
        <p>You can manage your bookings here.</p>
        <p>If you want to change room or hotel, you have to resign from your current booking and make a new one.</p>
        <p>If you want to change check in or check out date, click "Change booking" button.</p>
        <div class="rooms-wrapper" id="hotels">
            {% for booking in bookings %}
            <div class="room-card">
                <img src={{ booking['room_imgUrl'] }}>
                <h3>Hotel: {{ booking['hotel_name'] }}</h3>
                <h3>Address: {{ booking['hotel_city'] }}, {{ booking['hotel_address'] }} </h3>
                <h3>Room type: {{ booking['room_type'] }} people</h3>
                <h3>Price per night: {{ booking['price_per_night'] }}zł</h3>
                <h3>Check in date: {{ booking['date_from'] }}</h3>
                <h3>Check out date: {{ booking['date_to'] }}</h3>

                {% if booking['can_be_edited'] %}
                    <div class="btn-wrap">
                        <button class="reserve-btn" onClick="fillAndShowTheForm('{{ booking['hotel_name'] }}', '{{ booking['date_from'] }}', '{{ booking['date_to'] }}', '{{ booking['booking_id'] }}', '{{ current_user._id }}')">
                            Change booking
                        </button>
                        <form method="POST">
                            <button type="submit" class="remove-booking" onClick="removeBooking('{{ booking['booking_id'] }}')">Resign</button>
                        </form>
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <form method="POST" class="rebooking">
        </form>
    </main>
{% endblock %}