{% extends "start_base.html" %}

{% block content %}
    <main class="content-wrapper">
        <form class="rooms-filter" method="POST">
            <h2>Choose your filters:</h2>
                <div class="filter-wrap">
                <div class="form-group">
                    <label for="min_price">Min price</label>
                    <input type="number" id="min_price" name="min_price" placeholder="50">
                </div>
                <div class="form-group">
                    <label for="max_price">Max price</label>
                    <input type="number" id="max_price" name="max_price" placeholder="20000">
                </div>
                <div class="form-group">
                    <label for="checkin-filter">Check in</label>
                    <input type="date" id="checkin-filter" name="checkin-filter">
                </div>
                <div class="form-group">
                    <label for="checkout-filter">Check out</label>
                    <input type="date" id="checkout-filter" name="checkout-filter">
                </div>
                <div class="form-group">
                    <label for="people">People in room</label>
                    <input type="number" id="people" name="people">
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select id="city" name="city">
                        <option value="select">Select a city</option>
                        {% for city in cities %}
                            <option value={{ city['city'] }}>{{ city['city'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                    <button type="submit" class="filter-btn">Filter</button>
            </div>
        </form>

        <h1>Available rooms:</h1>
        <div class="rooms-wrapper">
            {% for room in rooms %}
            <div class="room-card">
                <img src={{ room['room_imgUrl'] }}>
                <h3>Hotel: {{ room['hotel_name'] }}</h3>
                <h3>City: {{ room['hotel_city'] }}</h3>
                <h3>Street: {{ room['hotel_street'] }}</h3>
                <h3>People in room: {{ room['room_type'] }}</h3>
                <h3>Price per night: {{ room['price_per_night'] }} zł</h3>
            </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}